.idea
logs

nginx/extend
nginx/sites

rabbitmq/mnesia
rabbitmq/.erlang.cookie

rocketmq/data/logs
rocketmq/data/store
!rocketmq/data/logs/README.md
!rocketmq/data/store/README.md

mysql/data
redis/data

jenkins/secrets

.DS_Store
.env
docker-compose.yml
*.conf
