.idea
logs

nginx/extend

rocketmq/data/logs
rocketmq/data/store
!rocketmq/data/logs/README.md
!rocketmq/data/store/README.md

mysql/data
redis/data

rabbitmq/mnesia

jenkins/secrets

.DS_Store
.env
docker-compose.yml